@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="kt-grid kt-grid--ver kt-grid--root kt-page">
    <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">

            <!--begin::Aside-->
            <div class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside" style="background-image: linear-gradient(174deg, #fffdfd, #2479fe);">
                <div class="kt-grid__item">
                    <a href="#" class="kt-login__logo">
                        <img src="~/assets/media/logos/dhicoins-logo.png">
                    </a>
                </div>
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                    <div class="kt-grid__item kt-grid__item--middle">
                        <h3 class="kt-login__title kt-font-dark">Welcome to Dhicoin!</h3>
                        <h4 class="kt-login__subtitle kt-font-dark">For More Information About Our Servies, Please Visit our website Frequently asked question page.</h4>
                    </div>
                </div>
                <div class="kt-grid__item">
                    <div class="kt-login__info">
                        <div class="kt-login__copyright kt-font-dark">
                            &copy 2018 Dhicoin
                        </div>
                        <div class="kt-login__menu ">
                            <a href="#" class="kt-link kt-font-dark">Privacy</a>
                            <a href="#" class="kt-link kt-font-dark">Legal</a>
                            <a href="#" class="kt-link kt-font-dark">Contact</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--begin::Aside-->
            <!--begin::Content-->
            <div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">

                <!--begin::Head-->
                <div class="kt-login__head">
                    <span class="kt-login__signup-label">Already have an account.</span>&nbsp;&nbsp;
                    <a asp-page="./LogIn" asp-route-returnUrl="@Model.ReturnUrl" class="kt-link kt-login__signup-link">Sign In!</a>
                </div>

                <!--end::Head-->
                <!--begin::Body-->
                <div class="kt-login__body">

                    <!--begin::Signin-->
                    <div class="kt-login__form">
                        <div class="kt-login__title">
                            <h3>Create An Account</h3>
                        </div>

                        <!--begin::Form-->
                        <form id="account" method="post" novalidate="novalidate" id="kt_login_form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.FullName" class="font-weight-bold"></label>
                                <input asp-for="Input.FullName" class="form-control" autocomplete="off" aria-required="true" />
                                <span asp-validation-for="Input.FullName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Email" class="font-weight-bold"></label>
                                <input asp-for="Input.Email" class="form-control" autocomplete="off" aria-required="true" required />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password" class="form-label font-weight-bold"></label>
                                <div class="input-group">
                                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary" id="show-password-btn">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            @*<div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>*@
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword" class="form-label font-weight-bold"></label>
                                <div class="input-group">
                                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="off" aria-required="true" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary" id="show-password-btn-confirm-password">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            @*<div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>*@
                            <div class="text-right">
                                <button id="registerSubmit" type="submit" class="btn btn-primary">Register</button>
                            </div>

                            <!--end::Action-->
                        </form>

                        <!--end::Form-->
                        <!--begin::Divider-->
                        <div class="kt-login__divider">
                            <div class="kt-divider">
                                <span></span>
                                <span>OR</span>
                                <span></span>
                            </div>
                        </div>

                        <!--end::Divider-->
                        <!--begin::Options-->
                        <div class="kt-login__options">
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {




                                            if (provider.Name == "Facebook")
                                            {
                                                <button type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account" class="btn  kt-btn kt-font-light" style="background-color:#3b5998;">
                                                    <i class="fab fa-facebook"></i>
                                                    @provider.Name
                                                </button>
                                            }
                                            if (provider.Name == "Google")
                                            {

                                                <button type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account" class="btn kt-btn" style="background-color:#F4B400;">
                                                    <i class="fab fa-google"></i>
                                                    @provider.Name
                                                </button>
                                            }

                                            @*<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" ></button>*@

                                        }
                                    </p>
                                </div>
                            </form>

                        </div>
                        @*<div class="col-md-6 col-md-offset-2">
            <section>

                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                    article
                                    about setting up this ASP.NET application to support logging in via external services
                                </a>.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>*@


                        <!--end::Options-->
                    </div>

                    <!--end::Signin-->
                </div>

                <!--end::Body-->
            </div>

            <!--end::Content-->
        </div>
    </div>

</div>
<script>
    const passwordInput = document.querySelector('input[type="password"]');
    const showPasswordBtn = document.querySelector('#show-password-btn');
    showPasswordBtn.addEventListener('click', () => {
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        showPasswordBtn.innerHTML = `<i class="fa fa-eye${type === 'password' ? '' : '-slash'}"></i>`;
    });
</script>
<script>
    const confirmPasswordInput = document.querySelector('#Input_ConfirmPassword[type="password"]');
    const showConfirmPasswordBtn = document.querySelector('#show-password-btn-confirm-password');
    showConfirmPasswordBtn.addEventListener('click', () => {
        const type = confirmPasswordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        confirmPasswordInput.setAttribute('type', type);
        showConfirmPasswordBtn.innerHTML = `<i class="fa fa-eye${type === 'password' ? '' : '-slash'}"></i>`;
    });
</script>




@*<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
